  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" ng-src="{{main.jumboImagePath}}" alt="First slide">
        <div ng-i></div>
        <div class="container">
          <div class="carousel-caption">
            <h1>Welcome to Football Stats</h1>
          </div>
          <div class="carousel-caption second">
            <h2 ng-show="main.showCaption" class="animated infinite" ng-class="main.classAnimation">Choose a league below</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-sm-4 col-md-3" ng-repeat="league in main.leagueList">
      <div class="thumbnail trans" ng-click="main.showLeagueTable(league)">
        <img class="pull-right" ng-src="assets/images/{{ league.logo }}" alt="{{ league.caption }}">
        <div class="caption">
          <h3>{{ league.caption }}</h3>
        </div>
      </div>
    </div>
  </div>
